<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>The MEAN Stack</h1>
        <ul>
            <li>MongoDB: The database server,</li>
            <li>Express: Node.js web app framework. Includes things like routing, error handiling, and template engines</li>
            <li>Angular: Front end web app framework. Key features are form handiling, Routing, and dependency injections</li>
            <li>Node.js: JavaScript Runtime environment. Runs JS Code outside of the web browser</li>
        </ul>
    </body>
</html>